body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: #00aaff;
}

/* MENU */
#menu {
  text-align: center;
  margin-top: 50px;
}

.sidebar button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #00aaff;
  color: #00aaff;
  cursor: pointer;
}

/* CHAT */
#chatPage {
  padding: 20px;
}

#mensagens {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #00aaff;
  padding: 10px;
  margin-bottom: 10px;
}
