body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

/* HOME */
#home {
  height: 100vh;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center h1 {
  font-size: 60px;
  color: #00aaff;
  text-shadow: 0 0 20px #00aaff;
}

/* botão inicio canto esquerdo */
#inicioBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #00aaff;
  color: #00aaff;
  cursor: pointer;
}

/* CHAT */
#chat {
  padding: 20px;
}

#mensagens {
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #00aaff;
  padding: 10px;
  margin-bottom: 10px;
}
